body {
 background-color: #086a86;
 font-family: 'Arial', sans-serif;
}
h1 {
 color: white;
 text-align: center;
}
h2 {
 color: white;
 text-align: center;
}
.section {
 background-color: #111;
 margin: 20px;
 padding: 20px;
 border-radius: 10px;
}
nav {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: gold;
}
.centrar_imagen {
    text-align: center;

}
.formulario {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #111;
    color: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); 
}
.formulario fieldset {
    border: 1px solid #333;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px;
}
.formulario input,
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.formulario label {
    display: block;
    margin: 8px 0;  
}
.formulario button {
    background: gold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.formulario button:hover {
    background: darkgoldenrod;
}
.alineacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.alineacion div {
    cursor: pointer;
}








